{% include 'nav.html' %}

    <body>
        {% include 'nav.html' %}
        {% block content %}
        <main class="main row">
            <div class="main-text main-col col">
                <h1 class="main-h1 fw-bold">Wholesale Inventory Management App Solution</h1><br>
                <p class="main-p">Optimize your inventory management with StockTrack, the website designed to help medium market wholesalers keep track of their stock.</p><br>
                <a class="main-btn btn btn-primary btn-md" href="#" role="button">Learn More</a>
            </div>
            <div class="main-banner main-col col">
                <img class="main-img object-fit-cover" src="../static/images/banner4.jpg">
            </div>
        </main>
        <div class="container">
            <section class="services mb-5">
                <h2 class="service-header">Services we provide</h2><br>
                <div class="service-grid">
                    <div class="service-list">
                        <h3>Inventory Management for Medium Wholesalers</h3>
                        <p>Our stocking service ensures your shelves are always fully stocked, providing a professional and efficient solution for your inventory needs.</p>
                    </div>
                    <div class="service-list">
                        <h3>Inventory Management Reporting Solution</h3>
                        <p>Our reports offer comprehensive analysis and insights on various topics, delivered in a professional and formal tone.</p>
                    </div>
                    <div class="service-list">
                        <h3>Inventory Pricing Management System</h3>
                        <p>Our Prices service provides a comprehensive analysis of market trends and competitor pricing strategies, helping businesses stay competitive and profitable.</p>
                    </div>
                    <div class="service-list">
                        <h3>Inventory Management Dashboard for Wholesalers</h3>
                        <p>Our Dashboard service provides a comprehensive overview of your business data and analytics in a professional and organized manner.</p>
                    </div>
                </div>     
            </section>
        </div>

        <section id="newsletter mb-0">
            <div class="newsletter justify-content-center text-center">
                <h2>Subscribe to newsletter</h2><br>
                <p>Enter your email address to register to our newsletter subscription!</p>
                <form>
                    <input type="email" name="email" class="input-border" placeholder="Email"><br><br>
                    <button type="submit" class="btn btn-submit">Send</button>
                </form>
            </div>
        </section>
        {% eb}
        {% include 'footer.html' %}
    </body>
</html>