{% extends 'sidebar.html' %}

{% block content %}
    <div class="container">
        <h3 class="p-2 m-2">Items</h3>
        <hr>
        <table class="table table-hover caption-top p-2 m-2">
            <thead class="table-light">
                <tr>
                    <th scope="col">Item Code</th>
                    <th scope="col">Item Name</th>
                    <th scope="col">Brand Name</th>
                    <th scope="col">Market Name</th>
                </tr>
            </thead>

            <tbody>
                {% for row in result %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}