{% include 'bootstrap.html' %}
    <body>
        {% include 'nav.html' %}
        <div class="container">
            <main class="main row">
                <div class="main-text main-col col mt-5">
                    <h1 class="main-h1 fw-bold">Wholesale Inventory Management App Solution</h1><br>
                    <p class="main-p">Optimize your inventory management with StockTrack, the website designed to help medium market wholesalers keep track of their stock.</p><br>
                    <a class="main-btn btn btn-primary btn-md" href="#about" role="button">Learn More</a>
                </div>
                <div class="main-banner main-col col">
                    <img class="main-img object-fit-cover" src="../static/images/banner2.jpg">
                </div>
            </main>
        </div>

        <section id="about">
            <div class="container">
                <h2 class="about-header mb-4 text-center">About StockTrack</h2>
                <p class="about-subheader mb-4 text-break">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </section>

        <section id="service" class="mb-5">
            <h2 class="service-header text-center">Services</h2>
            <div class="container">
                <div class="service-con row">
                    <div class="col">
                        <h3 class="service-head fw-bold">Stocking</h3>
                        <p>Our website is designed to help medium market wholesalers keep track of their stock.</p>
                    </div>
                    <img class="service-img object-fit-cover col" src="../static/images/stock.png " style="height: 270px;">
                </div>
            </div>
            <div class="container">
                <div class="service-con row">
                    <img class="service-img object-fit-cover col" src="../static/images/item_page.png " style="height: 270px;">
                    <div class="col">
                        <h3 class="service-head fw-bold">Items</h3>
                        <p>Optimize your inventory management with StockTrack, the website designed to help medium market wholesalers keep track of their stock.</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="service-con row">
                    <div class="col">
                        <h3 class="service-head fw-bold">Report</h3>
                        <p>Our report service provides a professional and efficient report for easy understanding.</p>
                    </div>
                    <img class="service-img object-fit-cover col" src="../static/images/report_page.png " style="height: 270px;">
                </div>
            </div>
        </section>
        {% include 'footer.html' %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    </body>
</html>