{% extends 'sidebar.html' %}

{% block content %}
    <div class="container">
        <h3>Purchase Report</h3>
        <hr>
        <div class="d-flex justify-content-sm-end mt-4"><a href="/download_purchase_report" class="main-btn btn btn-primary mt-5" role="button" data-bs-toggle="button">Download</a></div>
        <table class="table table-dark table-hover caption-top mt-5">
            <thead class="table-light">
                <tr>
                    <th scope="col">Purchase Date</th>
                    <th scope="col">Supplier</th>
                    <th scope="col">Item Code</th>
                    <th scope="col">Item Name</th>
                    <th scope="col">Brand Name</th>
                    <th scope="col">Market Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Unit Price</th>
                    <th scope="col">Total Price</th>
                </tr>
            </thead>

            <tbody>
                {% for row in purchase_report %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>{{ row[5] }}</td>
                    <td>{{ row[6] }}</td>
                    <td>{{ row[7] }}</td>
                    <td>{{ row[8] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
