{% include 'bootstrap.html' %}
<body>
    <section class="d-flex flex-nowrap sidebar" style="height: 601px;">
        <div class="d-flex flex-column flex-shrink-0 p-3 sidebar-con" style="width: 250px; background-color: #003366;">
            <a href="/home" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <img src="../static/images/logo.png" width="40" height="40">
                <span class="fs-4">StockTrack</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column p-4">
                <li class="nav-item">
                    <a href="/home" class="nav-link side text-white">
                        <i class="bi bi-house-door-fill" width="16" height="16"></i>
                    Home
                    </a>
                </li>
                <li>
                    <a href="/stocking" class="nav-link side text-white">
                        <i class="bi bi-clipboard2-data-fill" width="16" height="16"></i>
                        Stocking
                    </a>
                </li>
                <li>
                    <a href="/items" class="nav-link side text-white">
                        <i class="bi bi-box2-fill" width="16" height="16"></i>
                        Items
                    </a>
                </li>
                <li>
                    <a href="/reports" class="nav-link side text-white">
                        <i class="bi bi-file-bar-graph-fill" width="16" height="16"></i>
                        Reports
                    </a>
                </li>
            </ul>
        </div>
        {% block content %}

        {% endblock %}
    </section>
</body>