body {
    font-family: 'Roboto','Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    color: #6E7276;
}

 header {
    background-color: rgb(255,255,255);
    font-size: 19px;
    z-index: 9999;
    align-items: center;
    color: #2A3030;
}

main {
    height: 470px;
    width: 100%;
    position: relative;
    margin-bottom: 70px;
}

.main-text {
    margin-top: 70px;
}

.logo-text {
    color: #675C66;
}

.nav-link {
    color: #675C66;
}

.main-btn {
    background-color: #003366;
    border-color: #003366;
    color: #ffffff;
}

.main-banner {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main-p {
    color: #858585;
    font-size: 16px;
}

.main-img {
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 40px;
    color: #333333;
}


.about-header {
    font-size: 30px;
    font-weight: bold;
    padding-top: 100px;
    padding-bottom: 10px;
}

.about-subheader {
    font-size: 25px;
}

.service-header {
    font-size: 30px;
    font-weight: bold;
    padding-top: 100px;
    padding-bottom: 60px;
}

.service-con {
    height: 400px;
    align-items: center;
    padding: 40px;
    width: 100%;
    position: relative;
    margin-bottom: 70px;
    background-color: #6a736c;
    color: #ffffff;
}

.service-head {
    font-size: 30px;
}

.service-img {
    height: 100%;
    width: 100%;
  }

.service-row {
    margin-top: 200px;
    padding: 0 40px;
    height: 300px;
}

.newsletter {
    background-color: #2A3030;
    height: 350px;
    padding: 60px; 
    color: #ffffff;
    margin-top: 100px;
}

.input-border {
    border: 10px;
    border-radius: 3px;
    height: 40px;
    width: 530px;
}


h3 {
    margin-bottom: 30px;
}

#about {
    margin-top: 40px;
}

.nav-link:hover {
    color: #0B5ED7;
} 

.card {
    width: 300px;
    height: 200px;
    background-color: #003366;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    justify-content: center;
}

.card:hover {
    background-color: #0B5ED7;
}

.side:hover {
    background-color: #0B5ED7;
}

hr {
    color: #B2BEB5;
}

table {
    margin-top: 70px;
}


@media screen and (max-width: 576px) {
    
    body {
        font-size: 13px;
    }

    header {
        justify-content: space-between;
    }
        
    .main {
        padding: 15px;
        height: 290px;
    }

    .main-banner {
        display: none;
    }

    .main-text {
        margin-top: 30px;
    }

    .main-h1 {
        font-size: 30px;
    }

    .main-p {
        font-size: 13px;
    }

    .about-header {
        font-size: 23px;
        padding-bottom: 0px;
    }

    .about-subheader {
        font-size: 15px;
        text-align: justify;
        padding: 15px;
    }

    .service-con {
        height: 300px;
        padding: 15px;
        width: auto;
        flex-direction: column;
        margin-bottom: 40px;
    }

    .service-header {
        font-size: 24px;
        padding-top: 30px;
        padding-bottom: 35px;

    }

    .service-head {
        font-size: 22px;
        margin-bottom: 10px;
    }
}


@media screen and (min-width: 768px) and (max-width: 1024px) {

    body {
        max-width: 500px;
    }

    nav {
        font-size: 15px;    
    }

    .navbar-brand {
        font-size: 15px;
    }

    .nav-btn {
        font-size: 14px;
    }

    main {
        height: 300px;
        margin-bottom: 10px;
        align-items: center;
    }

    .main-text {
        margin-top: 5px;
        margin: 10px;
    }

    .main-h1 {
        font-size: 25px;
        margin-bottom: 22px;
    }

    .main-p {
        font-size: 13px;
        margin-bottom: 20px;
    }

    .main-btn {
        font-size: 13px;
    }

    .main-img {
        height: 100%;
        width: 100%;
    }

    #about {
        max-width: 500px;
        margin-top: 0px;
        align-items: center;
        text-align: center;
    }

    .about-header {
        font-size: 20px;
        margin-top: 0px;
    }

    .about-subheader {
        font-size: 15px;
        padding: 10px;
    }

    #service {
        max-width: 500px;
        margin-bottom: 100px;
    }

    .service-header {
        font-size: 23px;
        padding-top: 50px;
    }

    .service-con {
        height: 400px;
        width: auto;
    }

    .service-head {
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .service-subhead {
        font-size: 13px;
        margin-top: 0px;
        padding: 0px;
    }

    .service-img {
        width: 100%;
        height: 100%;
        padding: 20px;
    }
  }
  
  /* Media query for Surface Duo
  @media screen and (min-width: 540px) and (max-width: 720px) {
    body {
        max-width: 500px;
        height: auto;
    }

    #service {
      max-width: 100%;
      padding: 20px;
    }

    .service-img-ex {
        height: 250px;
    }
} */