body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

 header {
    background-color: rgb(255,255,255);
    font-size: 20px;
    margin-bottom: 70px;
}

nav {
    height: 50px;
    /* margin-bottom: 70px; */
}

main {
    height: 470px;
    width: 100%;
    position: relative;
    margin-bottom: 70px;
}

.container {
    margin-top: 100px;
}

.logo-text {
    color: #675C66;
}

.nav-link {
    color: #675C66;
}

.main-text {
    margin-left: 70px;
}

.main-btn {
    background-color: #003366;
    border-color: #003366;
    color: #ffffff;
}

.main-banner {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main-img {
    height: 100%;
    width: 100%;
  }

.intro {
    justify-content: center;
    margin: auto;
    padding: 115px; 
}

h1 {
    font-size: 40px;
    color: #333333;
}

.main-p {
    color: #858585;
    font-size: 16px;
}

/* .service-text {
    padding: 60px;
} */

.service-sect {
    background-color: #003366;
}

.service-header {
    font-size: 30px;
    font-weight: bold;
    padding-top: 150px;
}

.service-con {
    height: 1000px;
}

.service-row {
    margin-top: 200px;
    padding: 0 40px;
    height: 300px;
}

.service-list {
    padding: 10px;
    border: 1px solid white;
}

.service-list h3 {
    font-size: 20px;
    font-weight: bold;
}

.newsletter {
    background-color: #2A3030;
    height: 350px;
    padding: 60px; 
    color: #ffffff;
}

.input-border {
    border: 10px;
    border-radius: 3px;
    height: 40px;
    width: 530px;
}


h3 {
    margin-bottom: 30px;
}

#about {
    margin-top: 40px;
}

.nav-link:hover {
    color: #0B5ED7;
} 

.card {
    width: 300px;
    height: 200px;
    background-color: #003366;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    justify-content: center;
}

.card:hover {
    background-color: #0B5ED7;
}

.side:hover {
    background-color: #0B5ED7;
}